<?xml version="1.0" encoding="utf-8"?>
<configuration>  
  <packageSources>
    <add key="NuGet official package source" value="https://api.nuget.org/v3/index.json" />
    <add key="dwsmodels" value="https://davco-dev.davco-tech.com/tfs/davco-web/_packaging/dws.models%40Release/nuget/v3/index.json" />
  </packageSources>
 <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <packageSourceCredentials>    
    <dwsmodels>
      <add key="Username" value="msanford@davco-tech.com" />
      <add key="ClearTextPassword" value="@Pqkrtsbm1" />
    </dwsmodels >
</packageSourceCredentials>
</configuration>